In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.expand_frame_repr", False)

In [2]:
df= pd.read_excel("Données test.xlsx")

In [5]:
df['Date de valeur'] = pd.to_datetime(df['Date de valeur'])
df['Date de valeur'] = df['Date de valeur'].dt.strftime('%Y/%m/%d')

In [6]:
df.head()

   Numéro de compte              Détail de la transaction  Numéro de chèque Date de valeur    Solde     Action
0       40900061107  Transfert des services indiaforensic                 0     2017/06/29  1000000  1000000.0
1       40900061107  Transfert des services indiaforensic                 0     2017/07/05  2000000  1000000.0
2       40900061107  Transfert des services indiaforensic                 0     2017/07/18  2500000   500000.0
3       40900061107  Transfert des services indiaforensic                 0     2017/08/01  5500000  3000000.0
4       40900061107  Transfert des services indiaforensic                 0     2017/08/16  6000000   500000.0

In [7]:
df.to_excel("Données test.xlsx", index = False)