In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.expand_frame_repr", False)

In [2]:
df= pd.read_excel("Données test.xlsx")

In [3]:
df.isna().sum()

Numéro de compte               0
Date de la transaction         0
Détail de la transaction    2499
Numéro de chèque               0
Date de valeur                 0
Montant retiré                 0
Montant de dépôt               0
Solde                          0
.                              0
dtype: int64

In [4]:
df.head()

  Numéro de compte Date de la transaction          Détail de la transaction  Numéro de chèque Date de valeur  Montant retiré Montant de dépôt      Solde  .
0    409000611074'             2017-06-29  TRF FROM  Indiaforensic SERVICES               0.0     2017-06-29  Pas de retrait          1000000  1000000.0  .
1    409000611074'             2017-07-05  TRF FROM  Indiaforensic SERVICES               0.0     2017-07-05  Pas de retrait          1000000  2000000.0  .
2    409000611074'             2017-07-18  TRF FROM  Indiaforensic SERVICES               0.0     2017-07-18  Pas de retrait           500000  2500000.0  .
3    409000611074'             2017-08-01  TRF FROM  Indiaforensic SERVICES               0.0     2017-08-01  Pas de retrait          3000000  5500000.0  .
4    409000611074'             2017-08-16  TRF FROM  Indiaforensic SERVICES               0.0     2017-08-16  Pas de retrait           500000  6000000.0  .

In [5]:
# Supposons que vous ayez déjà chargé vos données dans les DataFrames suivants : retrait_df et depot_df

# Transformez les valeurs des dépôts en valeurs positives

# Concaténez les DataFrames "Retrait" et "Dépôt" en une seule table "Action"
df['Action']= pd.concat([df['Montant retiré'], df['Montant de dépôt']], ignore_index=True)



# Réinitialisation de l'index si nécessaire
df['Action'].reset_index(drop=True, inplace=True)

# Affichez le DataFrame résultant
print(df['Action'])

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [6]:
df.head()

  Numéro de compte Date de la transaction          Détail de la transaction  Numéro de chèque Date de valeur  Montant retiré Montant de dépôt      Solde  .          Action
0    409000611074'             2017-06-29  TRF FROM  Indiaforensic SERVICES               0.0     2017-06-29  Pas de retrait          1000000  1000000.0  .  Pas de retrait
1    409000611074'             2017-07-05  TRF FROM  Indiaforensic SERVICES               0.0     2017-07-05  Pas de retrait          1000000  2000000.0  .  Pas de retrait
2    409000611074'             2017-07-18  TRF FROM  Indiaforensic SERVICES               0.0     2017-07-18  Pas de retrait           500000  2500000.0  .  Pas de retrait
3    409000611074'             2017-08-01  TRF FROM  Indiaforensic SERVICES               0.0     2017-08-01  Pas de retrait          3000000  5500000.0  .  Pas de retrait
4    409000611074'             2017-08-16  TRF FROM  Indiaforensic SERVICES               0.0     2017-08-16  Pas de retrait           500000  6000000.0  .  Pas de retrait

In [15]:
df["retiré"] = retiré
df["dépôt"] =dépôt
for i,action in enumerate(df["Action"]):
    if retiré[i] == "Pas de retrait":
        action = dépôt
        df["Action"] = action
    else:
        if dépôt == "Pas de de dépôt":
            action = retiré
            df["Action"] = action

NameError: name 'retiré' is not defined